.site-map {
  display: block;
  width: 100%;

  &-list {
    &-btn {
      display: inline-flex;
      margin-right: 10px;
      background: #1d89ff;
      background-image: linear-gradient(180deg, #00bbd4 0, #3f51b5);
      color: #fff;
      font-family: arial, sans-serif;
      font-size: 16px;
      padding: 5px 12px;
      border-radius: 100px;
      box-shadow: 0 1px 2px rgb(0 0 0 / 25%);
      text-shadow: 0 1px 0 hsl(0deg 0% 100% / 25%);
      border-color: transparent;
      font-weight: 400;
      cursor: pointer;
      position: relative;
      padding: 5px 12px;
      overflow: hidden;
      border-width: 0;
      transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
      text-align: center;
      height: 35px;
      align-items: center;
      justify-content: center;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  iframe {
    border: 0;
    height: 100%;
    flex: 1;
  }
}
